.sidebar{
  background-color: var(--main-color);
  color: white;

}
.navItem{
  color: white;
  display: flex;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  gap: 10px;
  
}
.navItem:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
.icon,.linktitle{
  font-size: 18px;
}